RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|images|css|temp|js|video_files|robots\.txt|favicon\.ico)
RewriteRule ^(.*)$ /mpp/index.php/$1 [L]